body {
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #cccccc;
    display: flex;
    width: 99vw;
    height: 99vh;
}

.un {
    border: 3px solid #cccccc;
    width: 38%;
}

.deux {
    border: 3px solid #cccccc;
    width: 24%;
    background-color: #e2e0e0af;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    border: 3px solid grey;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccccccea;
}

.trois {
    border: 3px solid #cccccc;
    width: 38%;
}

p {
    border: 2px transparent;
    width: 50%;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left: 1%;
    margin-left: 2%;
    border-radius: 8px;
    font-weight: bold;
}

p:hover {
    background-color: blue;
    color: white;
}

h1:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
}